<form class="dci-form">
    <style>
        .dci-nav {
            background: linear-gradient(130deg, #0c2d4a 0%, #235683 40%, #235683 60%, #1d7dd1 100%);
            margin: -8px;
            color: white;
        }

            .dci-nav .item {
                padding: 10px;
            }

            .dci-nav .item.active {
                background: #c41e1e;
            }

        .dci-submit {
            background: linear-gradient(130deg, #0c2d4a 0%, #235683 40%, #235683 60%, #1d7dd1 100%);
            color: white;
            position: absolute;
            display: block;
            bottom: 7px;
            margin: -8px;
            border-width: medium;
            height: 40px;
        }

        .dci-form {
            padding-bottom: 30px;
        }
    </style>

    <nav class="tabs dci-nav" style="background: linear-gradient(130deg, #0c2d4a 0%, #235683 40%, #235683 60%, #1d7dd1 100%);" data-group="primary-tabs">

        <a class="item" data-tab="tab1"><i class="fa-solid fa-steering-wheel"></i><br />SAMPLE QUESTIONS</a>
        <a class="item" data-tab="tab2"><i class="fa-solid fa-dice-five"></i><br />NAME OF TAB 2</a>

    </nav>

    <hr />

    <section class="content">

        <div class="tab" data-tab="tab1" data-group="primary-tabs">

            <h2>Sample Questions</h2>

            <h3 style="padding-top: 15px">Fighting for your life</h3>
            <p>You are at death's door. Your breath is shallow and ragged. Your joints cry and ache, Every physical part of you longs to lie down and rest. come what may.</p>
            <p>
                What image appears in your mind that inspires you to keep fighting?
            </p>
            <input name="flags.detailedcharinfo.fighting" style="width:89.5%;" value="{{flags.detailedcharinfo.fighting}}" id="FightingforYourLife1" type="text" maxlength="300" placeholder="eg. Chuk sees his freinds that are Chuk's family.'" />

			<h3>The Soul</h3>
            <p>To construct a spiritual fear, ask difficult questions about your character's beliefs and behavior.</p>
            <p>A story about good and evil on a conceptual level ecomes more grounded when you have a character embody those concepts. Evil is very easy to understand when it can swing a sword at you. Fearing personal corruption is a great way to add weight to actions and decisions your character must make.</p>
            <select name="flags.detailedcharinfo.soulfear" value="{{flags.detailedcharinfo.soulfear}}" id="soulfear">
                {{#select flags.detailedcharinfo.soulfear}}
                <option value="Choose one...">Choose one...</option>
                <option value="The nature of evil">The nature of evil</option>
                <option value="The fragility of virtue">The fragility of virtue</option>
                <option value="A specific evil person">A specific evil person</option>
                <option value="Personal corruption">Personal corruption</option>
                <option value="Crisis of faith">Crisis of faith</option>
                <option value="Cosmic horror a la H.P. Lovecraft">Cosmic horror a la H.P. Lovecraft</option>
                {{/select}}
            </select>

        </div>

        <div class="tab" data-tab="tab2" data-group="primary-tabs">

            

        </div>

    </section>

    <hr>

    <footer class="sheet-footer">
        <button class="dci-submit" type="submit" title="Submit" data-action="submit-details">Submit</button>
    </footer>

</form>